html {
    scroll-behavior: smooth;
}

body {
    @apply font-space-grotesk sm:text-[17px];
}

@media only screen and (min-width: 640px) and (max-width: 949px) {
    body {
        @apply text-[16px];
    }
}

.pagination {
    @apply flex justify-center items-center mt-8;
}

.pagination nav[role="navigation"] {
    @apply space-x-3;
}

.contact-block {
    @apply sm:col-span-8 col-span-full sm:grid grid-cols-2 gap-6 text-white;
}

.contact-block ul,
.block-content ul {
    @apply pl-5;
}

.contact-block li,
.block-content li {
    @apply list-disc;
}

.social-icon {
    @apply w-[30px] h-[30px] bg-white rounded-full flex items-center justify-center;
}

.custom-box-scrollbar {
    @apply text-white sm:h-[380px] sm:overflow-y-scroll mb-8 sm:pr-8;
}

.custom-box-scrollbar::-webkit-scrollbar {
    @apply w-1 absolute;
}

.custom-box-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded;
}

.custom-box-scrollbar::-webkit-scrollbar-track {
    @apply bg-white/20 rounded;
}

.custom-arrows-splide .splide__arrow {
    @apply bg-transparent opacity-100;
}

.custom-arrows-splide .splide__arrow svg {
    @apply fill-white;
}

.custom-arrows-splide .splide__arrow.splide__arrow--prev {
    @apply -left-7;
}

.custom-arrows-splide .splide__arrow.splide__arrow--next {
    @apply -right-7;
}

.sponsors-carousel .splide__pagination {
    @apply -bottom-6;
}

.sponsors-carousel .splide__pagination .splide__pagination__page.is-active{
    @apply bg-white opacity-100 scale-100;
}

.loading {
    @apply mx-auto h-[50px] w-[50px] flex justify-center items-center rounded-full flex-col cursor-progress;
    border-top: 5px solid #75B42E;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #75B42E;
    border-right: 5px solid transparent;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
